html{
    padding: 0;
    margin:0;
    height: 100%;
}

ul {
    list-style: none; 
    padding: 0;
  	
}
body{
    background-color: #DBD9BA;
    height: 100%;
    margin:0;
}
p{
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 120%;
}

label{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 120%;
}

h4{
	padding-left: 27px;
    background-color: rgb(219,219,219);
    font-family: sans-serif;
    font-size: 150%;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header{
    height: 80px;
    width: 100%;
    background-size: 30%;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.main-container{
    margin:auto;
    background-color: white;
    width: 1200px;
    min-height:100%;
    position:relative;
}

.clear-both{
	clear: both;
}

.p2,.p3,.p4{
    margin:0;
}

.p2, .p3, .p6{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.p2,.p3 {
    font-size: 150%;
}

.p2 {
	color: #FF7C7C;
}

.p3{
    font-weight: bold;
}

.content{
	width: 100%;
    padding-bottom: 100px;
}

.mid-block-area, .lower-block-area, .upper-logo-area{
    overflow: hidden;
}

.mid-block-area{
    margin-bottom: 3%;
}

.upper-logo-area{
	width: 100%;
	padding-bottom: 2%;
	height: 20%;
}

.upper-logo-area .right-block{
	padding-top: 12.2%;
}


.upper-left-block{
	width: 57.7%;
	padding-left: 0;
    float: left;
}

.upper-names {
	padding-top: 19.5%;
	padding-left: 1%;
	overflow: hidden;
}

.upper-logo{
    content: '';
    background: #EC1313;
    height: 220px;
    width: 350px;
    float: left;
}

.upper-logo-white-space{
    content: '';
    height: 180px;
    width: 180px;
    margin: 20px 20px 20px 145px;
    background-color: white;
}

.upper-names h1{    
    font-size: 290%;
    margin:0;
}

.upper-names h2{
    font-size: 210%;
    font-weight: normal;
    color: #EC1313;
    margin:0;
}

.p6 {
    float: left;
    margin-top: -.2px;
    width: 40%;
    font-weight: bold;
}


.p7 {
    float: left;
    margin-left: 36px;
    margin-top: 0;
    width: 22%;
    text-align: center;
}

.p4{
    color: #706C6C;
}

.right-block{
    width: 30%;
    float: right;
    padding-right: 5.7%;
}


.left-block{
    width: 52%;
    float: left;
    padding-left: 5.7%;
}

.data-list{
    margin-top:0;
    padding-top: 18px;
}

.data-list label{
    display: inline-block;
    width: 37%; 
}

.data-list input{

    border: 0;
    background-color: white;
    color: black;
    font-size: 120%;
    width: 60%;
}

.formal-education h6{
	margin-bottom: -18px;
}

.about{
    font-weight: bold;
}

 .list-container, .work-experience-container{
    float: right;
}

.list-container{
    width: 55%;
}

.work-experience-container{
    width: 65%;
}

.rectangle-list li:before{
    content: '';
    background: #EC1313;
    height: 25px;
    width: 25px;
    transform: rotate(45deg);
    float: left;
}

.rectangle-list li{
	padding-top: 2em;
    padding-left: 2%;
	overflow: hidden;
}

.skills-list{
}

.skills-list li{
    padding-top: 18px;
    margin-bottom: -8px;
    overflow: hidden;
}

.skills-list label{
    display: inline-block;
    width: 50%;
}

.skills-list li:nth-child(4n+1){
	padding-top: 50px;
}

.draw-graph{
    content: '';
    width: 60%;
    height: 22px;
    float: right;
}

.draw-graph-success, .success1, .success2, .success3, .success4, .success5, .success6, .success7, .success8, .success9, .success10, .success11, .success12{
	display: block;
    content: '';
    height: 22px;
    background: #EC1313;
    z-index: 1;
    position: relative;
}

.success1{
	width: 67.6%;
}
.success2{
	width: 89.8%;
}
.success3{
	width: 56.2%;
}
.success4{
	width: 100%;
}
.success5{
	width: 93.4%;
}
.success6{
	width: 61.3%;
}
.success7{
	width: 65%;
}
.success8{
	width: 80%;
}
.success9{
	width: 100%;
}
.success10{
	width: 56.6%;
}
.success11{
	width: 89.8%;
}
.success12{
	width: 93.7%;
}

.draw-graph-background{
	background-color: rgb(219,219,219);
	width: 100%;
	height: 22px;
	display: block;
	position: relative;
	z-index: 0;
	margin-top: -22px;
}

.footer{
    position: absolute;
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 20px;
    bottom: 0;
}

.footer ul{
    padding-left: 2%;
}

.footer li{
    float: left;
    width: 31%;
    text-align: center;
}

.footer li:first-child{
    margin-left: -70px;
}

.footer li:nth-child(2){
    margin-left: 30px;
}

.footer li:last-child{
    margin-left: 30px;
}

.footer li:before{
    content: '';
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: inline-block;
    margin-bottom: -20px;
    margin-right: 4px;
    cursor: pointer;
}

.footer li:first-child:before{
    background-image: url('twitter.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 8px;
    background-position-x: 5px;
}

.footer li:nth-child(2):before{
     background-image: url('Phone Icon copy.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 5px;
    background-position-x: 5px;
}

.footer li:last-child:before{
     background-image: url('reload.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 5px;
    background-position-x: 5px;
}

.footer-mid-pos{
    align-content: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
