html{
    padding: 0;
    margin:0;
    height: 100%;
}

ul {
    list-style: none; 
    padding: 0;
  	
}
body{
    background-color: #DBD9BA;
    height: 100%;
    margin:0;
}
p{
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 120%;
}

label{
	font-weight: bold;
	font-size: 140%;
}

h4{
	padding-left: 27px;
    background-color: rgb(219,219,219);
    font-size: 150%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-container{
    margin:auto;
    background-color: white;
    width: 1200px;
    min-height:100%;
    position:relative;
}

.header{
    height: 80px;
    width: 100%;
    background-size: 30%;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.clear-both{
	clear: both;
}

.custom-block{
    width: 43%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.custom-block-with-margin{
    margin-top: 115px;
}

.p2,.p3,.p4{
    margin:0;
}

.p-bold{
    font-weight: bold;
}

.p2,.p3 {
    font-size: 150%;
}

.p2, .p3, .p6{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.p2 {
	color: #FF7C7C;
}

.p3{
    font-weight: bold;
}

.p4{
    color: #706C6C;
}

.content{
	width: 100%;
    padding-bottom: 100px;
}


.logo-area{
    width: 46%;
    padding-right: 2.5%;
    float: left;
}

.upper-names {
	padding-top: 19%;
	padding-left: 2%;
	overflow: hidden;
}

.upper-logo{
    content: '';
    background: #EC1313;
    height: 180px;
    width: 250px;
    float: left;
}

.upper-logo-white-space{
    content: '';
    height: 150px;
    width: 150px;
    margin: 15px 15px 15px 85px;
    background-color: white;
}

.upper-names h1{	
	font-size: 250%;
	margin:0;
}

.upper-names h2{
	font-size: 180%;
	font-weight: normal;
	color: #EC1313;
	margin:0;
}


.data-list{
    padding-bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.data-list input{
    border: 0;
    background-color: white;
    color: black;
    font-size: 120%;
}


.data-list label{
    display: inline-block;
    width: 37%; 
}


 .list-container, .work-experience-container{
    width: 65%;
    float: right;
}

.list-container p, .work-experience-container p{
    margin-top: 0;
}

.rectangle-list li:before{
    content: '';
    background: #EC1313;
    height: 25px;
    width: 25px;
    transform: rotate(45deg);
    float: left;
}

.rectangle-list li{
    padding-top: 20px;
    padding-left: 2%;
    overflow: hidden;
}

.p6 {
    float: left;
    margin-top: -2px;
    width: 33%;
    font-weight: bold;
}

.p7 {
    float: left;
    margin-left: 3%;
    margin-top: 2px;
    width: 22%;
    text-align: center;
}


.skills-list {
    margin-top: -10px
}

.skills-list li{
    padding-top: 10px;
    margin-bottom: -5px;
    overflow: hidden;
}

.skills-list label{
    display: inline-block;
    width: 50%;
}

.skills-list li:nth-child(4n+1){
	padding-top: 50px;
}

.draw-graph{
    content: '';
    width: 66%;
    height: 22px;
    float: left;
}

.draw-graph-success, .success1, .success2, .success3, .success4, .success5, .success6, .success7, .success8, .success9, .success10, .success11, .success12{
	display: block;
    content: '';
    height: 22px;
    background: #EC1313;
    z-index: 1;
    position: relative;
}

.success1{
	width: 67.6%;
}
.success2{
	width: 89.8%;
}
.success3{
	width: 56.2%;
}
.success4{
	width: 100%;
}
.success5{
	width: 93.4%;
}
.success6{
	width: 61.3%;
}
.success7{
	width: 65%;
}
.success8{
	width: 80%;
}
.success9{
	width: 100%;
}
.success10{
	width: 56.6%;
}
.success11{
	width: 89.8%;
}
.success12{
	width: 93.7%;
}

.draw-graph-background{
	background-color: rgb(219,219,219);
	width: 100%;
	height: 22px;
	display: block;
	position: relative;
	z-index: 0;
	margin-top: -22px;
}

.footer{
    position: absolute;
	width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 20px;
    bottom: 0;
}

.footer ul{
    padding-left: 2%;
}

.footer li{
	float: left;
	width: 31%;
    text-align: center;
}

.footer li:before{
    content: '';
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: inline-block;
    margin-bottom: -20px;
    margin-right: 4px;
    cursor: pointer;
}

.footer li:first-child{
    margin-left: -100px;
}

.footer li:nth-child(2){
    margin-left: 50px;
}

.footer li:last-child{
    margin-left: 50px;
}

.footer li:first-child:before{
    background-image: url('twitter.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 8px;
    background-position-x: 5px;
}

.footer li:nth-child(2):before{
     background-image: url('Phone Icon copy.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 5px;
    background-position-x: 5px;
}

.footer li:last-child:before{
     background-image: url('reload.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 5px;
    background-position-x: 5px;
}

.footer-mid-pos{
    align-content: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
