ul {
    list-style: none; 
    padding: 0;
  	
}
body{
	margin: 0;
}
p{
	font-family: "HelveticaNeue-Light", sans-serif;
	font-weight: bold;
}

label{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 120%;
}

h6{
	padding-left: 1em;
    background-color: rgb(219,219,219);
    font-family: sans-serif;
    font-size: 1.2em;
    margin: 0;
}


.clear-both{
	clear: both;
}

.p2,.p3,.p4{
	font-size: 120%;
}

.p2 {
	color: rgb(207,69,65);
}

.header{
	width: 100%;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 8em;
}

.header img{
	width: 30%;
	padding-top: 4%;
	padding-left: 35%;
	padding-bottom: 1%;
}

.content{
	width: 100%;
	overflow: hidden;
}

.upper-logo-area{
	width: 100%;
	padding-bottom: 2%;
	height: 20%;
	overflow: hidden;
}



.upper-logo-area .right-block{
	padding-top: 11.2%;
}

.upper-logo-area .right-block p{
	display: inline;
}

.upper-left-block{
	width: 57.7%;
	padding-left: 0;
	float: left;
	overflow: hidden;
}

.upper-left-block img{
	width: 44%;
	float: left;
}

.upper-names {
	padding-top: 18%;
	padding-left: 1%;
	float: right;
	overflow: hidden;
}

.upper-names h1{
	
	
	font-family: sans-serif;
	font-size: 3.6em;
	margin:0;
}

.upper-logo-area h2{
	font-family: sans-serif;
	font-size: 2.4em;
	font-weight: normal;
	color: rgb(207,69,65);
	margin:0;
}


.p5{
    padding-left: 1em;
    background-color: rgb(219,219,219);
    font-weight: bold;
    font-family: sans-serif;
}

.right-block{
    width: 30%;
    float: right;
    padding-right: 5.7%;
}


.left-block{
    width: 52%;
    float: left;
    padding-left: 5.7%;
}


.formal-education, .about{
	height: 20em;	
}

.formal-education h6{
	margin-bottom: -1em;
}

.skills-container, .work-experience{
	height: 40em;
}


.rectangle-list{
    padding-left: 2%;
}

.rectangle-list label{
    position: relative;
    display: inline-block;
    padding: .2em 1em 1em 1em;
    margin: .5em 0 .5em 2.5em;
    width: 15%;
    text-align: center;
}

 .list-container{
 	position: relative;
    display: inline-block;
    width: 55%;
    float: right;
    margin-top: 1em;
}

.work-experience-container{
 	position: relative;
    display: inline-block;
    width: 71%;
    float: right;
    margin-top: 1em;
}
}
.list-container h6{
    margin-top: -1em;
}

.list-container p, .work-experience-container p{
    margin-top:-1em;
}

.rectangle-list label:before{
    content: '';
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: rgb(207,69,65);
    height: 1.5em;
    width: 1.5em;
    transform: rotate(45deg);
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list li:before{
    content: '';
    left: -2.5em;
    margin: 12px,12px,0;
    background: rgb(207,69,65);
    height: 1.5em;
    width: 1.5em;
    transform: rotate(45deg);
    line-height: 2em;
    display: block;
    float: left;
}

.right-block .formal-education .rectange-list p{
    float: left;
    display: block;
}

.p7 {
    float: left;
    margin-left: 2em;
    margin-top: -.1em;
}

.rectangle-list label:after{
    position: absolute; 
    content: '';
    left: -1em;
    top: 50%;
    margin-top: -.5em;
}

.rectangle-list li{
	padding-top: 2em;
	overflow: hidden;
}
.skills-list{
}

.skills-list li{
    padding-top: 1em;
    margin-bottom: -.4em;
    overflow: hidden;
}

.skills-list label{
    display: inline-block;
    width: 50%;
}

.skills-list li:nth-child(4n+1){
	padding-top: 3em;
}

.p6 {
    float: left;
    margin-top: -.1em;
    width: 33%;
}

.draw-graph{
    display: block;
    content: '';
    width: 66%;
    height: 1.2em;
    float: left;
}

.draw-graph-success, .success1, .success2, .success3, .success4, .success5, .success6, .success7, .success8, .success9, .success10, .success11, .success12{
	display: block;
    content: '';
    height: 1.2em;
    background: rgb(204,51,51);
    z-index: 1;
    position: relative;
}

.success1{
	width: 67.6%;
}
.success2{
	width: 89.8%;
}
.success3{
	width: 56.2%;
}
.success4{
	width: 100%;
}
.success5{
	width: 93.4%;
}
.success6{
	width: 61.3%;
}
.success7{
	width: 65%;
}
.success8{
	width: 80%;
}
.success9{
	width: 100%;
}
.success10{
	width: 56.6%;
}
.success11{
	width: 89.8%;
}
.success12{
	width: 93.7%;
}

.draw-graph-background{
	background-color: rgb(219,219,219);
	width: 100%;
	height: 1.2em;
	display: block;
	position: relative;
	z-index: 0;
	margin-top: -1.2em;
}

.data-list{
	padding-top: 1em;
}

.data-list label{
    display: inline-block;
    width: 43%; 
}

.other-info-list li{
    position: absolute;
    float: bottom;
}

.footer{
	width: 100%;
	max-height: 5em;
	height: 5em;
}

.footer img{
	float: left;
	max-width: 2em;
}
.footer li{
	float: left;
	width: 33%;
	left: 50%;
}

.footer .p3{
	margin-top: .1em;
	float: left;
	margin-left: .3em;
}

.footer-mid-pos{
    align-content: center;
    position: relative;
}

/* float left  --          overflow hidden    
    list - 1 na vse skili

        backgroun image

        personal data - tablica

 */      