html{
    padding: 0;
    margin:0;
    height: 100%;
}

ul {
    list-style: none; 
    padding: 0;
  	
}
body{
    z-index: -1;
    /*
    background-color: #E8E3A5;
   
    background-color: #D4CF85;
     
    background-color: #BAB784;
    */
    background-color: #DBD9BA;
    height: 100%;
    margin:0;
}
p{
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label{
	font-weight: bold;
	font-size: 140%;
}

h6{
	padding-left: 27px;
    background-color: rgb(219,219,219);
    font-size: 150%;
    margin: 0;
}

.super-block{
    margin:auto;
    background-color: white;
    width: 1200px;
    min-height:100%;
    position:relative;

}

.header{
    height: 80px;
    width: 100%;
    background-size: 30%;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

.clear-both{
	clear: both;
}

.p2,.p3,.p4{
	font-size: 120%;
}

.p2 {
	color: #EC1313;
}

.p3{
    font-weight: bold;
}


.content{
	width: 100%;
	overflow: hidden;
    padding-bottom: 100px;
}

.upper-logo-area{
	width: 100%;
	padding-bottom: 2%;
	height: 20%;
	overflow: hidden;
}



.upper-logo-area .right-block{
	padding-top: 11.2%;
}

.upper-logo-area .right-block p{
	display: inline;
}

.upper-left-block{
	width: 57.7%;
	padding-left: 0;
	float: left;
	overflow: hidden;
}


.mid-block-area, .lower-block-area{
    overflow: hidden;
}

.upper-left-block img{
	width: 44%;
	float: left;
    background-image: url('1.png');
    background-repeat: no-repeat;
    background-position: left;

}

.upper-names {
	padding-top: 18%;
	padding-left: 2%;
	overflow: hidden;
}

.upper-logo{
    content: '';
    background: #EC1313;
    height: 180px;
    width: 250px;
    float: left;
    overflow: hidden;
    position: relative;
}

.upper-logo:active{
    background-color: yellow;
}


.upper-logo-white-space{
    content: '';
    height: 150px;
    width: 150px;
    margin: 15px 15px 15px 80px;
    background-color: white;
    float: left;
    overflow: hidden;

}

.upper-names h1{	
	font-size: 2.5em;
	margin:0;
}

.upper-names h2{
	font-size: 1.8em;
	font-weight: normal;
	color: #EC1313;
	margin:0;
}

.p5{
    padding-left: 1em;
    background-color: rgb(219,219,219);
    font-weight: bold;
    font-family: sans-serif;
}

.p8{
    font-weight: bold;
}

.formal-education h6{
	margin-bottom: -1em;
}

.rectangle-list{
    padding-left: 2%;
}

.rectangle-list label{
    position: relative;
    display: inline-block;
    padding: .2em 1em 1em 1em;
    margin: .5em 0 .5em 2.5em;
    width: 15%;
    text-align: center;
}

 .list-container{
 	position: relative;
    width: 65%;
    float: right;
    margin-top: 1em;
}

.work-experience-container{
 	position: relative;
    display: inline-block;
    width: 65%;
    float: right;
    margin-top: 1em;
}
}
.list-container h6{
    margin-top: -1em;
}

.list-container p, .work-experience-container p{
    margin-top:-1em;
}

.rectangle-list li:before{
    content: '';
    background: #EC1313;
    height: 25px;
    width: 25px;
    transform: rotate(45deg);
    float: left;
}

.right-block .formal-education .rectange-list p{
    float: left;
    display: block;
}

.p7 {
    float: left;
    margin-left: 3%;
    margin-top: 2px;
    width: 22%;
    text-align: center;
}

.rectangle-list li{
	padding-top: 2em;
    padding-left: 2%;
	overflow: hidden;
}
.skills-list{
}

.skills-list li{
    padding-top: 1em;
    margin-bottom: -.4em;
    overflow: hidden;
}

.skills-list label{
    display: inline-block;
    width: 50%;
}

.skills-list li:nth-child(4n+1){
	padding-top: 3em;
}

.p6 {
    float: left;
    margin-top: -.1em;
    width: 33%;
    font-weight: bold;
}

.draw-graph{
    display: block;
    content: '';
    width: 66%;
    height: 1.2em;
    float: left;
}

.draw-graph-success, .success1, .success2, .success3, .success4, .success5, .success6, .success7, .success8, .success9, .success10, .success11, .success12{
	display: block;
    content: '';
    height: 1.2em;
    background: #EC1313;
    z-index: 1;
    position: relative;
}

.success1{
	width: 67.6%;
}
.success2{
	width: 89.8%;
}
.success3{
	width: 56.2%;
}
.success4{
	width: 100%;
}
.success5{
	width: 93.4%;
}
.success6{
	width: 61.3%;
}
.success7{
	width: 65%;
}
.success8{
	width: 80%;
}
.success9{
	width: 100%;
}
.success10{
	width: 56.6%;
}
.success11{
	width: 89.8%;
}
.success12{
	width: 93.7%;
}

.draw-graph-background{
	background-color: rgb(219,219,219);
	width: 100%;
	height: 1.2em;
	display: block;
	position: relative;
	z-index: 0;
	margin-top: -1.2em;
}

.data-list{
    padding-top: 8px;
    padding-bottom: 16px;
}

.data-list li p{
    display: inline;
}

.data-list label{
    display: inline-block;
    width: 37%; 
}

.other-info-list li{
    position: absolute;
    float: bottom;
}

.footer{
    position: absolute;
	width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 20px;
    bottom: 0;
}

.footer img{
	float: left;
	max-width: 2em;
}
.footer ul{
    padding-left: 2%;
}

.footer li{
	float: left;
	width: 31%;
    text-align: center;
}



.footer li:before{
    content: '';
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: inline-block;
    margin-bottom: -20px;
    margin-right: 4px;

}
.footer li:first-child:before{
    background-image: url('twitter.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 8px;
    background-position-x: 5px;
}

.footer li:nth-child(2):before{
     background-image: url('Phone Icon copy.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 5px;
    background-position-x: 5px;
}

.footer li:last-child:before{
     background-image: url('reload.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 5px;
    background-position-x: 5px;
}

.footer-mid-pos{
    align-content: center;
    position: relative;
    display: inline-block;

}

.custom-block {
    width: 43%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: inline-block;
    vertical-align: top;
}

.empty-block{
      width: 50%;
    height: 105px;
    display: inline-block;
    vertical-align: top;
}

.logo-area{
     width: 46%;
    padding-right: 2.5%;
    float: left;
    overflow: hidden;
}