.header {
	width:100%;
	background-color:black;
	color: white;

}

h2{
	color: grey;
}

img {
	max-height: 200px;
}
.header th:hover, .slide td:hover{
	background-color: white;
	color: black;
}

.header th{
	float: left;
	width: 150px;
}

.clear-both{

}

.img-header{
	width:100%;
	background-color:#CCCCCC;

}

.img-header th:first-child{
	width: 25%;
}

.img-header th:last-child{
	float: left;
}

.slide{
	background-color:  black;
	color: white;
	width: 100%;
	height: 400px;
	border: 10px solid gray;
}

.slide td{
	text-align: center;
	height: 40px;
}


.menu{
	width: 100%;
}

.menu tr:first-child td:first-child{
	width: 40%;
}

.footer{
	padding-top: 100px;
	text-align: center;
}

.lvl3{
	border: 1px solid black;
	width: 100%;
}

.lvl3 th{
	background-color: grey;
}

.lvl3 td{
	border: 1px solid black;
}
.lvl3 th:first-child{
	width: 50px;
}


.lvl3 td:first-child{
	width: 50px;
}
