.header{
	width: 100%;
	height: 100%;
	background-color:#CCCCCC;
}

.header img{
	float: left;
	max-height: 200px;
}

.header h1,h2{
}

.clear{
	clear: both;
}

.nav-menu{
	background-color: #323232;
}

.menu{

}